s{%include 'base.html'%}
<html>
<body>
<div class="container">
    <div class="head">
        <h1 align="center"> {{ title }} </h1>
    </div>
    {% if 'Proyecto' in permisos %}
    <div class="register">
        <div class="container detalle" style="font-size: 25px">
            <li>Nombre del proyecyo: {{ object.nombre }}</li>
            <li>User Stories:</li>
            
            <div class="container" style="margin-left: 50px">
                {% for us in object.userstory.all %}
                    <li>{{ us }}</li>
                    
                {% endfor %}
            </div>
            
        </div>
        <br>
        
        <a href="{% url 'list_proyectos'%}"><button type="button" class="btn submit-btn">
            <i class="fas fa-arrow-left"></i> Atras</button></a>
        <hr>
    </div>
    {% else %}
    Acceso denegado
    {% endif %}
</div>
</body>
</html>
