{%include 'base.html'%}
<html>
<body>
<div class="container">
    <div class="head">
        <h1 align="center"> {{ title }} </h1>
    </div>
    {% if 'Proyecto' in permisos %}
    <div class="register">
        <div class="container detalle" style="font-size: 25px">
            <li>Nombre del proyecyo: {{ object.nombre }}</li>
            <li>Descripcion: {% if object.descripcion %}{{ object.descripcion }}{% endif %}</li>
            <li>Fecha de inicio: {{ object.fecha_inicio }}</li>
            <li>Fecha de finalizacion: {{ object.fecha_inicio }}</li>
            <li>Miembros del proyecto:</li>
            <div class="container" style="margin-left: 50px">
                {% for usuario in object.usuarios.all %}
                    <li>{{ usuario }}</li>
                {% endfor %}
            </div>
            
        </div>
        <br>
        <a href="{% url 'manage_proy_usuario' proyecto.pk %}"><button type="button" class="btn submit-btn">
            <i class="fa-solid fa-gear"></i> Gestionar miembros</button></a>
        
        <a href="{% url 'list_proyectos'%}"><button type="button" class="btn submit-btn">
            <i class="fas fa-arrow-left"></i> Atras</button></a>
        <hr>
    </div>
    {% else %}
    Acceso denegado
    {% endif %}
</div>
</body>
</html>
