{% extends "base.html"%}

{% block title %} Home {%endblock%}

{% block content%}

    <img source=""/>
    <h1>Bienvenido!</h1>
    <div class="buttons-container">
        {% if 'Seguridad' in permisos %}
        <a href="{% url 'security'%}">
          Modulo de Seguridad  
        </a>
        {% endif %}
        {% if 'Proyecto' in permisos %}
        <a href="{% url 'list_proyectos'%}">
            Modulo de Proyecto  
          </a>
        {% endif %}
        {% if 'Desarrollo' in permisos %}
        <a href="{% url 'list_backlogs'%}">
            Modulo de Desarrollo  
          </a>
        {% endif %}
        

    </div>


{%endblock%}