{%extends "base.html"%}

{% block title %} Eliminar  {%endblock%}

{% block content%}
<div class="main">
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        
        <h3>
            ¿ Quieres eliminar este usuario? ?
        </h3>
        <div class="buttons-container">
            <input type="submit" value="Eliminar" />

            <a href="{% url "list-users"%}"> Cancelar</a>
        </div>
        
    </form>
</div>
{% endblock content%}