.buttons-container a {
    font-weight: bold;
    background: #bfbec7;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    clear: both;
    margin: 5px;
    text-decoration: none;
}
.buttons-container input {
    float: none;
}

.buttons-container a.module-element{
    background: #6558db;
    text-decoration: none;
}