.buttons-container a {
    font-weight: bold;
    background: #bfbec7;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    clear: both;
    margin: 5px;
    text-decoration: none;
}
.buttons-container input {
    float: none;
}

.buttons-container a.module-element{
    background: #6558db;
    text-decoration: none;
}

  /* CSS by GenerateCSS.com */ 
  .register ul 
  { 
 list-style-type: circle;
  list-style-image: url(' ');
  list-style-position: outside;
  } 
 .register li 
 { 
 padding: 0px; 
  margin: 0px; 
  }  

/*   .register label {
    float: none!important;
    clear: both;
    color: #333;
    margin-bottom: 4px;
    justify-content: space-between!important;
    width: 200px;
} */
/* .register label input{
    margin: 0 10px 10px;
} */
